.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  height: 40px;
}

.form-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 360px;
  min-height: 80px;
}

.form-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
}

.form-btn:hover,
.form-btn:focus {
  background: #6c8cff;
}
